customCard .card {
  width: 18em;
  height: 22.5em;
  background: rgb(37, 42, 86);
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

customCard .card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1.5em;
}

customCard .card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.9em;
  margin: 1em;
}

customCard .card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

customCard .card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

customCard .card a {
  color: white;
  transition: 0.4s ease-in-out;
}

customCard .card a:hover {
  color: red;
}

/* === removing default button style ===*/
customTitle .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
customTitle .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;

  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
customTitle .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
customTitle .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
